.currencyDisplayDiv {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8px 0px 16px 0px ;
}

.currencyNameDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-radius: 10px;
    background-color: azure;
    height:100%;
}

.currencyInfoDiv{
    text-align: left;
}

.fullWidth {
    width: 100%;
}